sajilonet/spec/data/handwriting/train.json filter=lfs diff=lfs merge=lfs -text
sajilonet/spec/data/handwriting/iter-1/train.json filter=lfs diff=lfs merge=lfs -text
sajilonet/spec/data/handwriting/iter-2/train.json filter=lfs diff=lfs merge=lfs -text
sajilonet/spec/data/handwriting/iter-0/train.json filter=lfs diff=lfs merge=lfs -text
